In [20]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [21]:
data = pd.read_csv("cleaned_day_data.csv", index_col=0)

In [22]:
data

,season,holiday,weekday,workingday,weathersit,temp,hum,windspeed,casual,registered,cnt,month,year
0,spring,0,Monday,1,Mist + Cloudy,14.110847,80.5833,10.749882,331,654,985,January,2018
1,spring,0,Tuesday,1,Mist + Cloudy,14.902598,69.6087,16.652113,131,670,801,January,2018
2,spring,0,Wednesday,1,Clear,8.050924,43.7273,16.636703,120,1229,1349,January,2018
3,spring,0,Thursday,1,Clear,8.200000,59.0435,10.739832,108,1454,1562,January,2018
4,spring,0,Friday,1,Clear,9.305237,43.6957,12.522300,82,1518,1600,January,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,spring,0,Friday,1,Mist + Cloudy,10.420847,65.2917,23.458911,247,1867,2114,December,2019
726,spring,0,Saturday,0,Mist + Cloudy,10.386653,59.0000,10.416557,644,2451,3095,December,2019
727,spring,0,Sunday,0,Mist + Cloudy,10.386653,75.2917,8.333661,159,1182,1341,December,2019
728,spring,0,Monday,1,Clear,10.489153,48.3333,23.500518,364,1432,1796,December,2019
729,spring,0,Tuesday,1,Mist + Cloudy,8.849153,57.7500,10.374682,439,2290,2729,December,2019

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      730 non-null    object
 1   holiday     730 non-null    int64
 2   weekday     730 non-null    object
 3   workingday  730 non-null    int64
 4   weathersit  730 non-null    object
 5   temp        730 non-null    float64
 6   hum         730 non-null    float64
 7   windspeed   730 non-null    float64
 8   casual      730 non-null    int64
 9   registered  730 non-null    int64
 10  cnt         730 non-null    int64
 11  month       730 non-null    object
 12  year        730 non-null    int64
dtypes: float64(3), int64(6), object(4)
memory usage: 79.8+ KB

In [24]:
data.shape

(730, 13)

In [25]:
data.isnull().sum()

season        0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
month         0
year          0
dtype: int64

# Creating Dummy Variables for the categorical features

In [26]:
data.select_dtypes(include='object').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      730 non-null    object
 1   weekday     730 non-null    object
 2   weathersit  730 non-null    object
 3   month       730 non-null    object
dtypes: object(4)
memory usage: 28.5+ KB

In [27]:
# Creating a dummy variable for the categorical variables and dropping the first one.
dummy_data = pd.get_dummies(data[['season', 'weekday', 'weathersit', 'month']], drop_first=True)
dummy_data.head()

,season_spring,season_summer,season_winter,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,weathersit_Light Snow,...,month_December,month_February,month_January,month_July,month_June,month_March,month_May,month_November,month_October,month_September
0,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [28]:
dummy_data.columns

Index(['season_spring', 'season_summer', 'season_winter', 'weekday_Monday',
       'weekday_Saturday', 'weekday_Sunday', 'weekday_Thursday',
       'weekday_Tuesday', 'weekday_Wednesday', 'weathersit_Light Snow',
       'weathersit_Mist + Cloudy', 'month_August', 'month_December',
       'month_February', 'month_January', 'month_July', 'month_June',
       'month_March', 'month_May', 'month_November', 'month_October',
       'month_September'],
      dtype='object')

In [29]:
data1=data.drop(['season', 'weekday', 'weathersit', 'month'],axis=1)

In [30]:
data1.columns

Index(['holiday', 'workingday', 'temp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt', 'year'],
      dtype='object')

In [31]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   holiday     730 non-null    int64
 1   workingday  730 non-null    int64
 2   temp        730 non-null    float64
 3   hum         730 non-null    float64
 4   windspeed   730 non-null    float64
 5   casual      730 non-null    int64
 6   registered  730 non-null    int64
 7   cnt         730 non-null    int64
 8   year        730 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 57.0 KB

In [32]:
data1=pd.concat([data1,dummy_data],axis=1)

In [33]:
data1.shape

(730, 31)

In [34]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 729
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   holiday                   730 non-null    int64
 1   workingday                730 non-null    int64
 2   temp                      730 non-null    float64
 3   hum                       730 non-null    float64
 4   windspeed                 730 non-null    float64
 5   casual                    730 non-null    int64
 6   registered                730 non-null    int64
 7   cnt                       730 non-null    int64
 8   year                      730 non-null    int64
 9   season_spring             730 non-null    uint8
 10  season_summer             730 non-null    uint8
 11  season_winter             730 non-null    uint8
 12  weekday_Monday            730 non-null    uint8
 13  weekday_Saturday          730 non-null    uint8
 14  weekday_Sunday            730 non-null    uint8
 15  weekday_Thursday          730 non-null    uint8
 16  weekday_Tuesday           730 non-null    uint8
 17  weekday_Wednesday         730 non-null    uint8
 18  weathersit_Light Snow     730 non-null    uint8
 19  weathersit_Mist + Cloudy  730 non-null    uint8
 20  month_August              730 non-null    uint8
 21  month_December            730 non-null    uint8
 22  month_February            730 non-null    uint8
 23  month_January             730 non-null    uint8
 24  month_July                730 non-null    uint8
 25  month_June                730 non-null    uint8
 26  month_March               730 non-null    uint8
 27  month_May                 730 non-null    uint8
 28  month_November            730 non-null    uint8
 29  month_October             730 non-null    uint8
 30  month_September           730 non-null    uint8
dtypes: float64(3), int64(6), uint8(22)
memory usage: 72.7 KB

# Feature Scaling Process

in this process we scale the numerical columns in the datset.

In [35]:
# Import Standard scaler
from sklearn.preprocessing import StandardScaler

In [36]:
# Scale the three numeric features present in the dataset
scaler = StandardScaler()
data1[['temp','hum','windspeed','casual','registered','cnt']] = scaler.fit_transform(data1[['temp','hum','windspeed','casual','registered','cnt']])
data1.head()

,holiday,workingday,temp,hum,windspeed,casual,registered,cnt,year,season_spring,...,month_December,month_February,month_January,month_July,month_June,month_March,month_May,month_November,month_October,month_September
0,0,1,-0.827613,1.252343,-0.387833,-0.755455,-1.927745,-1.820972,2018,1,...,0,0,1,0,0,0,0,0,0,0
1,0,1,-0.722069,0.480996,0.748899,-1.046996,-1.917480,-1.916078,2018,1,...,0,0,1,0,0,0,0,0,0,0
2,0,1,-1.635432,-1.338073,0.745931,-1.063031,-1.558846,-1.632827,2018,1,...,0,0,1,0,0,0,0,0,0,0
3,0,1,-1.615560,-0.261577,-0.389769,-1.080523,-1.414494,-1.522732,2018,1,...,0,0,1,0,0,0,0,0,0,0
4,0,1,-1.468226,-1.340294,-0.046477,-1.118424,-1.373434,-1.503090,2018,1,...,0,0,1,0,0,0,0,0,0,0